@tailwind base;
@tailwind components;
@tailwind utilities;

.dir {
    direction: rtl !important;
}

.dir1 {
    direction: ltr !important;
}

.select-none {
    user-select: none !important;
    pointer-events: none !important;
}

@font-face {
    font-family: "nrt";
    src: url(./fonts/NRT-Reg.ttf) format("truetype");
}

html,
body {
    font-family: "NRT reg" !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number-input input:focus {
    outline: none !important;
}

.custom-number-input button:focus {
    outline: none !important;
}

@media (max-width: 640px) {
    .responsive {
        display: flex;
        overflow-x: auto;
    }
}

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

/* table dashboard */

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
